<main class="page-wrapper">
  <!-- Header-->
  <app-header id="top"></app-header>

  <!-- Page container-->
  <div class="container-fluid mt-5 pt-5 p-0">
    <div class="row g-0 mt-n3">
      <!-- Filters sidebar (Offcanvas on mobile)-->
      <aside class="col-lg-4 col-xl-3 border-top-lg border-end-lg shadow-sm px-3 px-xl-4 px-xxl-5 pt-lg-2">
        <div class="offcanvas offcanvas-start offcanvas-collapse" id="filters-sidebar">
          <div class="offcanvas-header d-flex d-lg-none align-items-center">
            <h2 class="h5 mb-0">Filtres</h2>
            <button class="btn-close" type="button" data-bs-dismiss="offcanvas" (click)="SidebarHide()"></button>
          </div>
          <br>
          <br>
          <div class="offcanvas-body py-lg-4">
            <div class="pb-4 mb-2">
              <h3 class="h6">Localisation</h3>
              <select class="form-select mb-2" id="location" (click)="LocationSearch();">
                <option value="" disabled>Choisir une ville</option>
                <option value="Dakar">Dakar</option>
                <option value="Pikine">Pikine</option>
                <option value="Guédiawaye">Guédiawaye</option>
                <option value="Rufisque" selected>Rufisque</option>
                <option value="Sangalkam">Sangalkam</option>
              </select>
              <select class="form-select" id="district" (click)="DistrictSearch();">
                <option value="" selected disabled>Choisir un quartier</option>
                <option value="Brooklyn">Parcelles Assainies</option>
                <option value="Manhattan">Cite Fadia</option>
              </select>
            </div>
            <div class="pb-4 mb-2 simplebar-scroll-show">
              <h3 class="h6">Type de propriété</h3>
              <ngx-simplebar style="height: 11rem;" class="overflow-auto">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="house" (change)="changeProperty($event,'House')">
                  <label class="form-check-label fs-sm" for="house">Maison</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="apartment"
                    (change)="changeProperty($event,'Apartment')">
                  <label class="form-check-label fs-sm" for="apartment">Appartement</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="room" (change)="changeProperty($event,'Room')">
                  <label class="form-check-label fs-sm" for="room">Chambre</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="office"
                    (change)="changeProperty($event,'Office')">
                  <label class="form-check-label fs-sm" for="office">Bureau</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="commercial"
                    (change)="changeProperty($event,'Commercial')">
                  <label class="form-check-label fs-sm" for="commercial">Commercial</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="land" (change)="changeProperty($event,'Land')">
                  <label class="form-check-label fs-sm" for="land">Terrain</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="new-building"
                    (change)="changeProperty($event,'New building')">
                  <label class="form-check-label fs-sm" for="new-building">Nouveau bâtiment</label>
                </div>
              </ngx-simplebar>
            </div>
            <div class="pb-4 mb-2">
              <h3 class="h6">Prix par mois</h3>
              <div class="range-slider" data-start-min="1100" data-start-max="3000" data-min="200" data-max="5000"
                data-step="100">
                <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"
                  (valueChange)="valueChange($event,true)" (highValueChange)="valueChange($event,false)"></ngx-slider>
                <div class="d-flex align-items-center">
                  <div class="w-50 pe-2">
                    <div class="input-group">
                      <input class="form-control range-slider-value-min" type="text" value="{{minValue}}">
                      <span class="input-group-text fs-base">FCFA</span>
                    </div>
                  </div>
                  <div class="text-muted">&mdash;</div>
                  <div class="w-50 ps-2">
                    <div class="input-group">
                      <input class="form-control range-slider-value-max" type="text" value="{{maxValue}}">
                      <span class="input-group-text fs-base">FCFA</span>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pb-4 mb-2">
              <h3 class="h6 pt-1">Chambres &amp; Salle de bains</h3>
              <label class="d-block fs-sm mb-1">Chambres</label>
              <div class="btn-group btn-group-sm" role="group" aria-label="Choose number of bedrooms">
                <input class="btn-check" type="radio" id="studio" name="bedrooms">
                <label class="btn btn-outline-secondary fw-normal" for="studio">Studio</label>
                <input class="btn-check" type="radio" id="bedrooms-1" name="bedrooms" checked (click)="bedrooms('1');">
                <label class="btn btn-outline-secondary fw-normal" for="bedrooms-1">1</label>
                <input class="btn-check" type="radio" id="bedrooms-2" name="bedrooms" (click)="bedrooms('2');">
                <label class="btn btn-outline-secondary fw-normal" for="bedrooms-2">2</label>
                <input class="btn-check" type="radio" id="bedrooms-3" name="bedrooms" (click)="bedrooms('3');">
                <label class="btn btn-outline-secondary fw-normal" for="bedrooms-3">3</label>
                <input class="btn-check" type="radio" id="bedrooms-4" name="bedrooms" (click)="bedrooms('4');">
                <label class="btn btn-outline-secondary fw-normal" for="bedrooms-4">4+</label>
              </div>
              <label class="d-block fs-sm pt-2 my-1">Salle de bains</label>
              <div class="btn-group btn-group-sm" role="group" aria-label="Choose number of bathrooms">
                <input class="btn-check" type="radio" id="bathrooms-1" name="bathrooms" (click)="bathrooms('1');">
                <label class="btn btn-outline-secondary fw-normal" for="bathrooms-1">1</label>
                <input class="btn-check" type="radio" id="bathrooms-2" name="bathrooms" (click)="bathrooms('2');">
                <label class="btn btn-outline-secondary fw-normal" for="bathrooms-2">2</label>
                <input class="btn-check" type="radio" id="bathrooms-3" name="bathrooms" (click)="bathrooms('3');">
                <label class="btn btn-outline-secondary fw-normal" for="bathrooms-3">3</label>
                <input class="btn-check" type="radio" id="bathrooms-4" name="bathrooms" (click)="bathrooms('4');">
                <label class="btn btn-outline-secondary fw-normal" for="bathrooms-4">4</label>
              </div>
            </div>
            <div class="pb-4 mb-2 simplebar-scroll-show">
              <h3 class="h6">Amenagements</h3>
              <ngx-simplebar style="height: 11rem;" class="overflow-auto">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="air-condition"
                    (click)="AmenitiesFilter($event,'air-condition')">
                  <label class="form-check-label fs-sm" for="air-condition">Parking</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="balcony"
                    (click)="AmenitiesFilter($event,'balcony')">
                  <label class="form-check-label fs-sm" for="balcony">Salle Gym</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="garage"
                    (click)="AmenitiesFilter($event,'garage')">
                  <label class="form-check-label fs-sm" for="garage">Garage</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="pool" (click)="AmenitiesFilter($event,'pool')">
                  <label class="form-check-label fs-sm" for="pool">Piscine</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="camera"
                    (click)="AmenitiesFilter($event,'camera')">
                  <label class="form-check-label fs-sm" for="camera">Cameras de sécurité</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="wifi" (click)="AmenitiesFilter($event,'wifi')">
                  <label class="form-check-label fs-sm" for="wifi">WiFi</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="laundry"
                    (click)="AmenitiesFilter($event,'laundry')">
                  <label class="form-check-label fs-sm" for="laundry">Machine à laver</label>
                </div>
              </ngx-simplebar>
            </div>
            <div class="border-top py-4">
              <button class="btn btn-outline-primary" type="button"><i class="fi-rotate-right me-2"></i>Vider les filtres</button>
            </div>
          </div>
        </div>
      </aside>
      <!-- Page content-->
      <div class="col-lg-8 col-xl-9 position-relative overflow-hidden pb-5 pt-4 px-3 px-xl-4 px-xxl-5">
        <!-- Map popup-->
        <div class="map-popup invisible" id="map">
          <button class="btn btn-icon btn-light btn-sm shadow-sm rounded-circle" type="button"
            data-bs-toggle-class="invisible" data-bs-target="#map" (click)="closeMapModel()"><i
              class="fi-x fs-xs"></i></button>
          <agm-map [latitude]="latitude" [longitude]="longitude" class="interactive-map rounded-3"
            style="height: 100%"></agm-map>
        </div>
        <!-- Breadcrumb-->
        <app-breadcrumbs [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
        <!-- Title-->
        <!-- Sorting-->
        <div class="d-flex flex-sm-row flex-column align-items-sm-center align-items-stretch my-2">
          <div class="d-flex align-items-center flex-shrink-0">
            <label class="fs-sm me-2 pe-1 text-nowrap" for="sortby"><i
                class="fi-arrows-sort text-muted mt-n1 me-2"></i>Trier par:</label>
            <select class="form-select form-select-sm" id="sortby" (click)="SortFilter();">
              <option>Nouveauté</option>
              <option value="Atitle">Popularité</option>
              <option value="Dprice">Bas prix</option>
              <option value="Aprice">Haut prix</option>
            </select>
          </div>
          <hr class="d-none d-sm-block w-100 mx-4">
          <div class="d-none d-sm-flex align-items-center flex-shrink-0 text-muted"><i
              class="fi-check-circle me-2"></i><span class="fs-sm mt-n1">{{appartments.length}} resultats</span></div>
        </div>
        <!-- Catalog grid-->
        <div class="row g-4 py-4">
          <div *ngIf="appartments && appartments.length > 0; else noAppartments">
            <div class="col-sm-6 col-xl-4" *ngFor="let data of appartments | sortBy:sortBy:sortField">
              <div class="card shadow-sm card-hover border-0 h-100">
                <div class="tns-carousel-wrapper card-img-top card-img-hover"><a class="img-overlay"
                    routerLink="/catalogue/detail/{{data.idAppartement}}"></a>
                  <div class="position-absolute start-0 top-0 pt-3 ps-3"><span class=""
                      [ngClass]="{'d-table badge bg-success mb-1': data.verified_btn}">{{data.type}}</span></div>
                  <div class="content-overlay end-0 top-0 pt-3 pe-3">
                    <button class="btn btn-icon btn-light btn-xs text-primary rounded-circle" type="button"
                      placement="left" ngbTooltip="Add to Wishlist"><i class="fi-heart"></i></button>
                  </div>
                  <swiper [config]="config">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" *ngFor="let image of data.images">
                        <img [src]="image.url" class="d-block w-100" alt="...">
                    </div>
                    </div>
                  </swiper>
                </div>
                <div class="card-body position-relative pb-3">
                  <h4 class="mb-1 fs-xs fw-normal text-uppercase text-primary">Niveau: {{data.niveau}}</h4>
                  <h3 class="h6 mb-2 fs-base"><a class="nav-link stretched-link"
                      routerLink="/catalogue/detail/{{data.idAppartement}}">Prix HT: {{data.loyerHt}} FCFA</a></h3>
                  <div class="fw-bold"><i class="fi-cash mt-n1 me-2 lead align-middle opacity-70"></i>Prix TTC: {{data.loyerTtc}} FCFA
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <ng-template #noAppartments>
            <p class="btn btn-sm text-primary d-none d-lg-block order-lg-3 text-center">Aucune propriété à louer disponible</p>
          </ng-template>          
        </div>
        <!-- Pagination-->
      </div>
    </div>
  </div>

</main>
<!-- Footer-->
<app-footer></app-footer>

<!-- Filters sidebar toggle button (mobile)-->
<button class="btn btn-primary btn-sm w-100 rounded-0 fixed-bottom d-lg-none" type="button" data-bs-toggle="offcanvas"
  data-bs-target="#filters-sidebar" (click)="FilterSidebar()"><i class="fi-filter me-2"></i>Filtres</button>
<div class="vertical-overlay" (click)="SidebarHide()"></div>